<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>RubyMine<%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "screen" %>
  <%= stylesheet_link_tag    "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="wrapper"><!-- #wrapper -->

  <nav><!-- top nav -->
    <%= render :partial => 'shared/navigation' %>     <!-- Uwaga!! tutaj nie ma underscore _ !! -->
  </nav><!-- end of top nav -->

  <header><!-- header -->
    <div id="headerlogo"><%= image_tag "kookycook.png", :alt => 'Norbert Picture', :size => '200x200',
                                       :mouseover => image_path("rails.png") %></div>
    <h1><a href="#">Norbert's test site</a></h1>
    <h2>Your cute and compelling tag line goes here</h2>
  </header><!-- end of header -->
  <section id="main"><!-- #main content and sidebar area -->

    <section id="content"><!-- #content -->

      <div  style="border: 1px solid red">
        <% if flash[:notice] %>
            <p class="notice"><%= flash[:notice].html_safe? %></p>
        <% end %>
        <% if flash[:error] %>
            <p class="error"><%= flash[:error] %></p>
        <% end %>
      </div>

      <%= yield %>


    </section><!-- end of #content -->

    <aside id="sidebar"><!-- sidebar -->
      <h3>Things To Do</h3>
      <%=	things_to_do('http://www.google.com'      => 'www.google.com',
                          'http://www.lmgtfy.com'      => 'lmgtfy',
                          calendar_path => 'Events')  %>

      <h3>Sponsors</h3>
      <%= image_tag "apples.jpg" %><br />
      <%= image_tag "applepie.jpg" %><br /><br />
      <h3>Connect With Us</h3>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>

    </aside><!-- end of sidebar -->

  </section><!-- end of #main content and sidebar-->

  <footer>
    <section id="footer-area">

      <section id="footer-outer-block">
        <aside class="footer-segment">
          <h4>Friends</h4>
          <ul>
            <li><a href="#">one linkylink</a></li>
            <li><a href="#">two linkylinks</a></li>
            <li><a href="#">three linkylinks</a></li>
          </ul>
        </aside><!-- end of #first footer segment -->

        <aside class="footer-segment">
          <h4>Awesome Stuff</h4>
          <ul>
            <li><a href="#">one linkylink</a></li>
            <li><a href="#">two linkylinks</a></li>
            <li><a href="#">three linkylinks</a></li>
          </ul>
        </aside><!-- end of #second footer segment -->

        <aside class="footer-segment">
          <h4>Coolness</h4>
          <ul>
            <li><a href="#">one linkylink</a></li>
            <li><a href="#">two linkylinks</a></li>
            <li><a href="#">three linkylinks</a></li>
          </ul>
        </aside><!-- end of #third footer segment -->

        <aside class="footer-segment">
          <h4>Blahdyblah</h4>
          <p>&copy; 2010 <a href="#">yoursite.com</a> Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p>
        </aside><!-- end of #fourth footer segment -->

      </section><!-- end of footer-outer-block -->

    </section><!-- end of footer-area -->
  </footer>

</div><!-- #wrapper -->
</body>
</html>
